
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}
html {
  scroll-behavior: smooth;
}
.main-div{
    height: 80vh;
    width:100%;
    background: url(../images/forsale3.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}

.main-div::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.50);
    z-index: 1;

    
}
.left-div{
    position:relative;
    z-index:2;

}
.left-div{
    width:100%;
    display:flex ;
    padding:200px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.left-div h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color:white;



}
.left-div h1 span{
 background:  #a69388; 
 color:white; 
 padding:3px 8px;
 border-radius: 4px;
 
}
.left-div p{
    
    font-size: 16px;
    max-width:450px;
box-sizing: border-box;
color:white;
}
#btn{
    width:auto;
    padding:5px 10px;
     background:  #a69388; 
    color:#fff;
    border-radius: 4px;
    border:none;
    cursor:pointer;
    font-size:15px;
    font-weight: 500;
    font-weight: bold;
font-style: oblique;
margin-top: 20px;


}
#btn:hover{
   background-color:#D7CFC7;
}
#btn::after{
       background-color:#D7CFC7;
}

.navbar{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    
}
.navbarLeft .navbarRight{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
    

}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:30px;
    align-items:center ;
    padding: 20px;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color:#fff;
}
#casafindname{
    justify-content: flex-start;
}


.navbar a:hover{
    font-weight:  bold;
}


.navbar .slidebar{
    position: fixed;
    top:0;
    right:0;
    height:315px;
    width:200px;
    padding-top: 10px;
    z-index:999;
    background-color: rgba(166, 147, 136, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px  rgba(0, 0, 0, 0.50);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:20px;
    display: none;
}

.menubuton{
    display: none !important;

}

.slidebar li{
    width:100px;
    list-style: none;
    padding-bottom: 20px;
    flex-direction: column;
    padding-left: 5px;
    
    

}.slidebar a{
    width:100%;
}

@media (max-width:768px){
.hideOnMobile{
    display: none !important;
}
.menubuton{
    display: block !important;
}

} 








.property-types{
    margin-top: 15px;
  text-align: center;
  padding:30px 20px;
  margin-bottom: 20px;
  
}

.property-types h2{
    font-size: 32px;
    margin-bottom: 20px;
 color:#4F3D37;
}
.property-types p{
    font-size: 18px;
     color:#4F3D37;
     display: none;;

}
.properties{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 60px;
}

@media (max-width: 980px){
    .properties{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px){
    .properties{
        grid-template-columns: 1fr;
    }
}
.item{
 background-color: #D7CFC7;
 padding:15px;
 border-radius: 10px;
 text-align: end;
 display: none; 
 flex-direction: column;
 align-items: center;
 overflow: hidden;
}

.item img{
    width:100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.item:hover{
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.33);
}
.item h4{
    text-align: center;
}
.item p{
    justify-content: center;
    text-align: center;
}
.item a{
text-decoration: none;
 color:#4F3D37;
}




.people{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-wrap: nowrap;

}
.account{
    text-align: center;
    
}
.people img{
    width:380px;
    height: 380px;
    object-fit: cover;
}


@media (max-width: 680px){
    .people{
       flex-wrap: wrap;
    }
}


/* .aboutUsImg img{
    width:380px;
    height:300px;
}
.aboutTop {
    text-align: center;
    margin-bottom: 50px; /* hapësirë mes top dhe bottom */
/* }
.aboutBottom {
    display: flex;
    justify-content: center; 
    align-items: center;     /* i vendos vertikalisht në të njëjtën lartësi */
    /* gap: 50px;               /* hapësirë midis imazhit dhe tekstit */
    /* flex-wrap: wrap;  
    flex-direction: row;       /* responsive */
/* } */ 


 
/* .aboutUsParagraph h2 {
    margin-bottom: 15px;
}


@media(max-width:1000px){
    .aboutUs{
        flex-direction: column;
        text-align: center;
    }
} */ 
 .aboutUs{
background-color: #D7CFC7;
 }
 .aboutTop{
    text-align: center;
    padding: 10px;
 }
.aboutBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutBottom{
    text-align: center;
    padding: 10px;
}

.aboutBottom img{
    width:380px;
    height:300px;
    padding:20px;
    
}
@media(max-width:1000px){
    .aboutBottom{
        flex-direction: column;
        text-align: center;
    }
    .aboutBottom img{
    width:450px;}
}
.card-list .card-item .user-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-list .card-item {
    text-align: center;
    align-items: center;
    width: 330px;
     box-shadow: 0 10px 25px rgba(59, 50, 50, 0.33);
     margin: 10px;
}



.contactUs{
    background-color: #D7CFC7;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    
    margin-bottom: 10px;
}
.contactContainer {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    align-items: center;
    gap: 20px;
    width: 100%;

}
.paragafrContatct h2, p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



  .butonCon{
    width:auto;
    padding:5px 10px;
     background:  #a69388; 
    color:#fff;
    border-radius: 4px;
    border:none;
    cursor:pointer;
    font-size:15px;
    font-weight: 500;
    font-weight: bold;
    margin-top: 20px;


}
.butonCon:hover{
    background-color:#c5bdb6;
    color: #4F3D37;
}

@media(max-width:680px){
    .contactContainer{
        grid-template-columns: 1fr;
        text-align: center;
       

    }

}








.realEstateServices{
width:100%;
background-color:#D7CFC7;
padding-top: 30px;
margin-bottom: 50px;

}

.ServicesPart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    padding:30px;

}
.ServicesPart a{
    text-decoration: none;
    color: inherit;
    
}
.ServicesPart a:hover{

 box-shadow: 0 8px 20px rgba(0, 0, 0, 0.38); 
 border-radius: 13px;  
 
}
.ServicesPart p:hover{
    color:#4F3D37;

}
.hyrje{

    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.hyrje h2{
    border-bottom:3px solid #4F3D37;
    display: inline-block;
    

}
.doSomethingAthome{
  
    text-align: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10); 
    border-radius: 12px;

}

.doSomethingAthome h3{
    padding-bottom: 15px;
    
}
.doSomethingAthome h3:hover{
    color: #4F3D37;
}
.doSomethingAthome p{

    padding-bottom: 20px;


}
.ServicesPart i{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    background-color: #e6e0db;
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    font-size:50px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
     text-decoration: none;

}
.ServicesPart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media(max-width:980px){
    .ServicesPart{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 680px) {
  .ServicesPart {
    grid-template-columns: 1fr;

  }
}

footer{
    background-color: #D7CFC7;
    padding: 30px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap:30px;
    padding-bottom: 50px;
    text-decoration: none;
}
footer i{
    padding: 6px;
    font-size: 25px;
}
footer a{
    text-decoration: none;
    color:inherit;    
}
.addressFooter a{
    list-style-type: none;
    text-decoration: none;
}
footer a:hover{
    color: #a69388;
}

/* .mainfooter{
    padding-top: 10px;
    background-color: #D7CFC7; 
    border-radius: 8px;
    margin:5px;

} 
.footercontent2 h3 , p ,li {
    display: flex; 
    justify-content: center;
    align-items: center;
    color:#4F3D37; 
} 
.footercontent3 h3{ 
    display: flex;
    justify-content: center; 
    align-items: center;
    color:#4F3D37;
} 
.footercontent3 ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top:10px ;
    gap:10px;
}
.footercontent1 h3,p{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    color:#4F3D37; 
    padding-left: 5px;
} 
.mainfooter{
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    font-size: 15px;
} 
.mainfooter a{ 
    position: relative;
    list-style: none; 
    text-decoration: none;
    color: #4F3D37;
     transition: color 0.3s ease;

}
.mainfooter a:hover{
    font-weight: bold;
}
.mainfooter a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;           /* pozicion poshtë fjalës 
    width: 0;
    height: 2px;             /* trashësia e vijës 
    background-color: #4F3D37;
    transition: width 0.3s ease;
}

.mainfooter a:hover::after {
    width: 100%;
}

@media (max-width:610px){
.mainfooter{
    grid-template-columns: 1fr; 
    padding:15px; 
} 
.footercontent2 h3, li{ 
    display: flex;
    justify-content: flex-start;
} 
.footercontent1{
    padding-bottom:20px;
}
.footercontent3 { 
    text-align: left;
    padding-top: 20px; 
} 
.footercontent3 h3,ul{
    justify-content: flex-start !important;
}
} */ 