@import "./main.css";

* {
    font-family: "Poppins", sans-serif;
}

.page #header-page {
    padding-top: 60px;
    width: 100%;
    height: 350px;
    background-color: var(--color-bg);
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: "Poppins", sans-serif;
}

.page #header-page h3 {
    font-size: 40px;
    line-height: 20px;
}

.page #header-page p {
    font-size: 20px;
}

.page #header-page div {
    position: relative;
}

.page #header-page div input {
    position: relative;
    width: 60vw;
    padding: 20px 10px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    outline: 0;
}

.page #header-page div input:focus {
    outline: 0;
    border: var(--color-mid) 2px solid ;
}

.page #header-page div button {
    position: absolute;
    width: 16%;
    height: 100%;
    right: 0px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: var(--color-mid);
    color: var(--color-bg);
    font-size: 16px;
    font-weight: 700;
}

.page #header-page div button:hover {
    background-color: var(--color-dark);
    transition: ease-in-out 200ms;
    
}

.page section .filter-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--color-mid);
}

.page section .filter-div button {
    padding: 10px;
    cursor: pointer;
}

.page section div:last-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: 0 auto;
}
 
.page section div:last-child .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 30px;
    box-shadow: 0 4px 12px var(--color-mid);
    margin: 20px 10px;
}

.page section div:last-child .card .card-body {
    padding: 0 10px;
    font-size: 15px;
}

.page section div:last-child .card .card-specs {
    margin-left: 10px;
    font-size: 15px;
}

.page section div:last-child .card .card-body h5{
    font-size: 20px;
    margin-top: 10px;
}

.page section div:last-child .card .card-specs {
    height: 50px;
    padding: 0;
    margin-top: 15px;
}

.page section div:last-child .card img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.page section div:last-child .card button {
    padding: 15px 0;
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    outline: none;
    border: 0;
    cursor: pointer;
    background-color: var(--color-mid);
    color: #ffffff;
}

.page section div:last-child .card button:hover {
    background-color: var(--color-dark);
    transition: ease-in-out 200ms;
}



@media screen and (max-width: 1280px) {
        .page section div:last-child {
            grid-template-columns: repeat(3, 1fr);
        }

        .page section div:last-child .card .card-body h5{
            font-size: 20px;
            margin-top: 10px;
        }

        .page section div:last-child .card .card-body, .page section div:last-child .card .card-specs {
            font-size: 14px;
        }

        .page section div:last-child .card button {
            padding: 10px 0;
        }
}


@media screen and (max-width: 1024px) {
        .page section div:last-child {
            grid-template-columns: repeat(2, 1fr);
        }

        .page section div:last-child .card .card-body h5{
            font-size: 20px;
            margin-top: 10px;
        }

        .page section div:last-child .card .card-body, .page section div:last-child .card .card-specs {
            font-size: 12px;
        }

        .page section div:last-child .card button {
            padding: 10px 0;
        }

        .page #header-page {
            padding-top: 60px;
            width: 100%;
            height: 350px;
        }

        .page #header-page h3 {
            font-size: 35px;
            line-height: 20px;
        }

        .page #header-page p {
            font-size: 18px;
        }

        .page #header-page div input {
            width: 60vw;
            padding: 18px 10px;
            font-size: 16px;
        }

        .page #header-page div button {
            width: 20%;
            padding: 0px;
            font-size: 16px;
        }
}

@media screen and (max-width: 720px) {
        .page section div:last-child {
            grid-template-columns: repeat(2, 1fr);
        }

        .page section div:last-child .card .card-body h5{
            font-size: 20px;
            margin-top: 10px;
        }

        .page section div:last-child .card .card-body, .page section div:last-child .card .card-specs {
            font-size: 10px;
        }

        .page section div:last-child .card button {
            padding: 8px 0;
        }


        .page section .filter-div span {
            font-size: 12px;
        }

        .page #header-page {
            padding-top: 20px;
            height: 300px;
        }

        .page #header-page h3 {
            font-size: 32px;
            line-height: 20px;
        }

        .page #header-page p {
            font-size: 13.7px;
        }

        .page #header-page div input {
            width: 70vw;
            padding: 15px;
            font-size: 14px;
        }
}

@media screen and (max-width: 492px) {
        .page section div:last-child {
            grid-template-columns: 1fr;
        }

        .page section div:last-child .card .card-body h5{
            font-size: 20px;
            margin-top: 10px;
        }

        .page section div:last-child .card .card-body, .page section div:last-child .card .card-specs {
            font-size: 15px;
        }

        .page #header-page h3 {
            font-size: 25px;
            line-height: 30px;
            width: 95%;
            margin: 0 auto;
            text-align: center;
        }

        .page #header-page p {
            font-size: 12px;
            /* margin: 0 10px; */
            margin: 0 auto;
            width: 90vw;
        }

        .page #header-page div input {
            width: 70vw;
            padding: 12px;
            font-size: 12px;
        }

        .page #header-page div button {
            width: 25%;
            height: 100%;
            font-size: 12px;
        }
       
        .page section .filter-div {
            width: 100%;
            height: 40px;
        }

        .page section .filter-div span {
            font-size: 15px;
        }

        .page section .filter-div button {
            padding: 2px;
        }

}

